@font-face {
    font-family: 'rajdhani';
    src: url(./Assets/police/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'space-Grotesk bold';
    src: url(./Assets/police/spaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'space-Grotesk Regular';
    src: url(./Assets/police/spaceGrotesk-Regular.ttf);
}

 :root {
    --yellow-color: #ff0;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #c4c4c4;
    --yellow1-color: #f8f184;
    --black1-color: #0d0e09;
    --maron-color: #b11313;
    --bleu-color: #19589d;
    --gradient-white: #eddebf67;
    --gradient-red: #89000978;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: 'rajdhani';
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
    margin: 10px;
}

button {
    font-family: 'rajdhani';
    font-size: 26px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: #fff 2px;
}

body {
    background-color: black;
    color: white;
    font-family: 'space-Grotesk';
    font-weight: 300;
}


/*design de la navigation*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    height: 200px;
}

ul {
    text-align: right;
    list-style: none;
}

nav ul a {
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: 'rajdhani';
    list-style: none;
}

nav ul a:hover {
    color: var(--yellow-color);
}


/* design de la partie en tete hero*/

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero.titre {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 20px;
    margin-top: 10px;
    background: linear-gradient( 80deg, var(--gradient-white), var(--gradient-red));
    box-shadow: var(--black-color) 5px 5px 60px;
}

#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 255px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 240px;
}

.scroll .social {
    margin-top: 15px;
}


/* design de la section batman-personnage*/

#batman-cinema,
#justice-league {
    margin-top: 40px;
}

.card {
    display: flex;
    justify-content: space-between;
}

#batman-cinéma .titre {
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinéma .description #justice-league .description {
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}

#batman-cinéma .personnage-info .h3 .p {
    text-align: center;
}

#batman-cinéma .titre,
#justice-league .titre {
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}


/* design de la partie multimedua*/

#multimedia button {
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia button.right {
    right: -65%;
}

#multimedia button.left {
    left: -65%;
    width: 100%;
}

#multimedia .slider-multimedia {
    display: flex;
    width: 60%;
    margin: 40px 0;
}

#multimedia .slider-image {
    width: 100%;
}

#multimedia .slider-content {
    padding: 15px;
    background-color: #727272;
    /* border-raduis 20px;*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia .p {
    font-size: 14px;
}

#multimedia .yellow {
    color: var(--yellow-color);
}


/* design de la partie contact - formulaire*/

#contact {
    background-color: darkslategrey;
    padding: 70px 0;
}

#contact .form {
    width: 50%;
    margin: 0 auto;
}

#contact .h2 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 32px;
}

#contact .titre {
    display: block;
    margin: 30px 0;
}

#contact .form input[type='email'],
textarea {
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(120, 120, 120);
    background-color: transparent;
    padding: 10px 0;
}

#contact .news {
    margin: 15px 0;
    border-bottom: 2px solid rgb(120, 120, 120);
}

#contact .icon img {
    transform: rotate(90deg);
    width: 20px;
}

::placeholder {
    color: #f8f184;
    font-size: 15px;
}

.btn-group {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.form input[type="radio"] {
    opacity: 0;
}

.btn-group label {
    cursor: pointer;
    border: 2px solid;
    border-color: var(--black-color);
    padding: 10px;
    border-image: linear-gradient( 69deg, white black;
    );
    border-image: linear-gradient( 69deg, white black;
    );
    font-size: 20px;
}

input[type='submit'] {
    display: block;
    width: 250px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
}

h2 {
    color: white;
    font-family: 'space-Grotesk Regular';
    font-size: 30px;
    font-weight: 300;
}

p {
    color: white;
    font-family: 'space-Grotesk Regular';
    font-size: 20px;
    font-weight: 300;
}

h3 {
    color: white;
    font-family: 'space-Grotesk Regular';
    font-size: 20px;
    font-weight: 300;
}


/* section citation*/

#citation {
    margin: 90px;
}

#citation .citation-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
}

#citation .auteur {
    padding-top: 20px;
    font-size: 14px;
    font-family: 'rajdhani';
    text-align: center;
}

#citation .guillemet-close {
    float: right;
}

#citation .guillemet-open {
    float: left;
}


/*design du footer*/

footer {
    margin-top: 162px;
}

footer .text-footer {
    text-align: center;
    font-size: 12px;
}

.social-footer {
    padding: 15px;
    text-align: center;
}